<ul>
<% @meetings_attended.each do |meeting| %>
  <ul>
  	<!--<li><%= meeting.to_json %></li>-->
  	<li><%= meeting['summary'] %></li>
  	<li><%= meeting['time_elapsed_formatted'] %></li>
  </ul>
<% end %>
</ul>